extends layout

block content
    
                                
            
    div.container
        div.row
            div.col-sm-6.col-md-4.col-md-offset-4
                #user
                mixin article
                  .list-group-item
                    .article-wrapper
                      if block
                        block
                      else
                        p No content provided

                - for (var i=0; i<ranking.ranking.length; i++){
                    +article
                        
                        h4.list-group-item-heading= ranking.ranking[i].content
                        p.list-group-item-text= 'from: '+ ranking.ranking[i].to 
                        
                            
                            
                                             
                - }
                a(href='/home', class='text-center new-account') Back to homepage
            #message
                if message
                    h1.text-center.error-message #{message}
                




